// typography
$base_font_family_: "Roboto Regular", sans-serif;
$numeric_font_family_: "Crimson Pro Medium", serif;
$base-font-size_: 1.03125rem;
$base_line_height_: 1.4;

// colors
$very_light_gray_: #f8f8f8;
$lime_green_: #21ce99;
$lime_green_tint_: #59e4ba;
$lime_green_shade_: #199b73;
$base_font_color_: #000000;
$white_: #ffff;
$black_: #000000;
$gray_: #b3b3b3;
