@import "../../../core/scss/variables";

.exchange-canvas {
  &__form {
    background-color: $very_light_gray_;
  }

  @media only screen and (max-width: 768px) {
    &--img {
      transform: rotate(90deg);
    }

    // FIXME: There's obviously a better way of doing this
    &--margin-y {
      margin: 10px 0;
    }
  }
}
